# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/.idea*/
/.metadata/
/.recommenders/
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

# ==== #
# user #
# ==== #
*.keystore
Assets/Plugins/Android/play-services*
/Assets/Tiled2Unity/Tiled2UnityLite.exe*
.metadata/
.recommenders/

# ====== #
# Server #
# ====== #
*.pem
Server/bin/
Server/bin/**/*.class
Server/**/*.log
Server/**/logfile.txt